<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信登陆</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/login_resign.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/css/component.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/fonts/iconfont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/fonts/iconfont.css') }}">
    <style>
        .sms .sendSms {
            height: 42px;
            border: 1px solid #11c6ce;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }

        .sms .sendSms:hover {
            background: #11c6ce2b;
        }

        .sendSms .unable {
            background: #eef1f6;
            border: 1px solid #ddd !important;
        }

        ul li {
            position: relative;
        }

        li a {
            color: #F44336;
            position: absolute;
            bottom: -18px;
            left: 44px;
            font-size: 13px;
        }
    </style>
</head>
<body>
<div id="particles">
    <div class="wrap">
        <form>
            <h1>手机快捷登陆</h1>
            <ul>
                <li>
                    <span class="iconfont icon-name">&nbsp;&nbsp;</span>
                    <input class="cellPhone" type="text" placeholder="手机号" name="cellphone">
                    <a></a>
                </li>

                <li class="sms">
                    <span class="iconfont icon-mima">&nbsp;&nbsp;</span>
                    <input class="SmsCode" type="text" placeholder="短信验证码" style="width: 250px"
                           name="smsNumber unable"><input
                        class="sendSms" style="width: 120px" type="button" value="发送验证码">
                    <a></a>
                </li>
                <li>
                    <input type="submit" value="登&nbsp;录" class="submit">
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='lib/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='components/js/component.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/jquery.particleground.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/demo.js') }}"></script>
<script>
    $(function () {
        sendSms();
        checkphone();
        checkSms();
        formSubmit();
    });

    function sendSms() {
        $('.sendSms').click(function () {
            if (checkPhoneByNormal($('.cellPhone')) == true) {
                var time = 60;
                sendSmsAjax();
                $('.sendSms').val(time + 's');
                $('.sendSms').attr("disabled", true);
                var count = setInterval(function () {
                    if (time > 0) {
                        time--;
                        $('.sendSms').val(time + 's');

                    } else {
                        clearInterval(count);
                        $('.sendSms').val("重新发送")
                        $('.sendSms').attr("disabled", false);
                    }
                }, 1000);

                $(this).parent().prev().find(".cellPhone").css({
                    "border-bottom": "1px solid #48aecb",
                    "background-color": " #fff"
                });
                $(this).parent().prev().find("a").text('');
            } else {
                $(this).parent().prev().find("a").text("还未输入手机号或者手机号输入不合法！");
                $(this).parent().prev().find(".cellPhone").css({
                    "border-bottom": "1px solid #f75234",
                    "background-color": "#fdf6f5",
                    "transition": 'border .8s'
                });
            }
        })
    }

    function sendSmsAjax() {
        var cellphone = $('.cellPhone').val();
        var data = {
            data: JSON.stringify({
                'cellphone': cellphone
            })
        };
        $.ajax({
            url: '/SendSms',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res);
                console.log(0)

            },
        })
    }

    //手机号blur事件
    function checkphone() {
        $('.cellPhone').blur(function () {
            checkPhoneByNormal($(this));
        });
    }

    //手机号验证
    function checkPhoneByNormal(root) {
        //alert(phoneRegex.test(phone));
        var phone = $('.cellPhone').val();
        var phoneRegex = /^1[34578]\d{9}$/;
        if (phoneRegex.test(phone)) {
            root.css({
                "border-bottom": "1px solid #48aecb",
                "background-color": " #fff"
            });
            root.next().text('');
            return true;
        } else {
            root.next().text('请输入正确的11位手机号！');
            root.css({
                "border-bottom": "1px solid #f75234",
                "background-color": "#fdf6f5",
                "transition": 'border .8s'
            });
            return false;
        }
    }

    //表单提交事件--把验证码提交到服务器
    function formSubmit() {
        $('.submit').click(function () {
            if (checkPhoneByNormal($('.cellPhone')) && checkSMSByNormal($('.SmsCode'))) {
                var SmsCode = $('.SmsCode').val();
                var data = {
                    data: JSON.stringify({
                        'SmsCode': SmsCode
                    })
                };
                $.ajax({
                    url: '/user/checkSmsCode',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (res) {
                        res = eval(res);
                        if (res.ok == false) {
                            alert("验证码输入错误！")
                        } else {
                            window.location.replace("/?phone=" + $('.cellPhone').val());
                        }
                    },
                })
            }
            return false;
        })
    }

    //验证码非空检验
    function checkSMSByNormal(root) {
        //alert(phoneRegex.test(phone));
        var phone = $('.SmsCode').val();
        if (phone != "") {
            root.css({
                "border-bottom": "1px solid #48aecb",
                "background-color": " #fff"
            });
            root.next().next().text('');
            return true;
        } else {
            root.next().next().text('验证码不能为空！');
            root.css({
                "border-bottom": "1px solid #f75234",
                "background-color": "#fdf6f5",
                "transition": 'border .8s'
            });
            return false;
        }
    }

    //验证码blur事件
    function checkSms() {
        $('.SmsCode').blur(function () {
            checkSMSByNormal($(this));
        });
    }
</script>
</body>
</html>